<div class="container">
  <div class="row  justify-content-center ">

    <div class="col-md-2 ">
      <img src="assets/img/logo.png" class="img-fluid" alt="">
    </div>

  </div>
  <div class="row ">

    <div class="col">
     
      <br>
      <h4 class="text-center text-roz2">Virtual travel to architecture in augmented reality <br> using a mobile phone</h4>
    </div>

  </div>


  <div class="row justify-content-center fullScreen">

    <div class="col-md-2">
      <a href="assets/apk/chronosphere_0.3.7_10.apk" download>
        <img src="assets/img/android.png" class="img-fluid" alt="">
      </a>
    </div>

    <div class="col-md-2">
      <a href="https://apps.apple.com/by/app/chronosphere/id1267373189">
        <img src="assets/img/apple.png" class="img-fluid" alt="">
      </a>
    </div>
  </div>
  <br>
</div>

