<div class="container"></div>
<div class="row  justify-content-center">

  <div class="col-md-2 ">
    <img src="assets/img/logo.png" class="img-fluid" alt="">
  </div>

</div>
<div class="row">

  <div class="col">
    <h1 class="text-center" style="color:black">Chronosphere</h1>
  </div>
</div>


<div class="row justify-content-center">

  <div class="col-md-2">
    <a href="assets/apk/chronosphere_0.3.7_10.apk" download>
      <img src="assets/img/android.png" class="img-fluid" alt="">
    </a>
  </div>

  <div class="col-md-2">
    <a href="https://apps.apple.com/by/app/chronosphere/id1267373189">
      <img src="assets/img/apple.png" class="img-fluid" alt="">
    </a>
  </div>
</div>
<br>


<!-- 
<a class="btn btn-primary fa fa-android" href="/src/chronosphere_0.3.7_10.apk" role="button" download>
  <span class="icon"></span>
  <em>Download now for</em>
  "iPhone"
				
</a>
<a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-dribbble">
  <i class="fa fa-apple"></i></a>

<a href="https://apps.apple.com/by/app/chronosphere/id1267373189" >IOS</a> -->