agm-map {
    height: 300px;
}

img {
    /* background-color: black; */
    height: 300px;
}

.black {
    background-color: black;
}

.roz1 {
    background-color: rgb(77, 24, 102);
}

.roz2 {
    background-color: rgb(143, 110, 172)
}

.text-roz2 {
    color: rgb(143, 110, 172)
}