agm-map {
    height: 300px;
}

img {
    /* background-color: black; */
    height: 300px;
}

.black {
    background-color: black;
}

.text-roz2 {
    color: rgb(143, 110, 172)
}
._invisible{
    opacity:0;
}
.visibleWithPause{
    opacity:1;
transition: 5s;
}
.visible{
    
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
    
    opacity: 1;
}