<div class="row text-roz2 no-gutters">
    <div class="col-md-12 p-2">
        <div class="badge black text-wrap w-100">

            <h3 align="center">Проект:</h3>
        </div>
        <p class="">
            Наша история часто не щадит культурное наследие, создаваемое столетиями. Города падали и вновь поднимались, что-то утрачивая, что-то обретая. Возродиться в камне вновь- удел далеко не каждого строения, шанс на новую жизнь невелик. Наша задача не дать
            пропасть памяти прошлого и дать ей вторую жизнь в новом воплощении. С помощью современных технологий визуализации объектов мы восстанавливаем и переносим в дополненную реальность облик старых городов. Вне зависимости где вы находитесь вы можете
            посетить места где мы возрождаем для вас утраченную архитектуру. Посетите места событий и рассмотрите их в режиме реального времени. Приложение позволяет отобразить виртуальный объект при посещении места его нахождения в его натуральную величину.
            Так же можно рассмотреть уменьшенную копию объекта на любой поверхности при касании его иконки на карте..
        </p>
        <div class="badge black text-wrap w-100">
            <h3 align="center">Команда:</h3>
        </div>
        <p align="center">
            Руководители: Гурьев А.И.,Тетеркин В.А.
            <br> Разработчики: Струль А.А., Зыль В., Lesha V.H., Большая рыжая обезьяна, alinastorm
            <br> Дизайнеры: Брисюк.К.А., Патапова К.В.
        </p>

        <div class="badge black text-wrap w-100">
            <h4 align="center">Канал telegram:</h4>
        </div>
        <p align="center">
            <a href="https://t.me/ChronosphereAR">https://t.me/ChronosphereAR</a>
        </p>
        <div class="badge black text-wrap w-100">
            <h4 align="center">Группа telegram:</h4>

        </div>
        <p align="center">
            <a href="https://t.me/Chronosphere_public">https://t.me/Chronosphere_public</a>
        </p>
        <div class="badge black text-wrap w-100">
            <h4 align="center">Связаться:</h4>
        </div>
        <p align="center">
            <a href="https://t.me/AlexandrGuriev">Гурьев А.И. </a>

        </p>
        <div class="badge black text-wrap w-100">
            <h4 align="center">Политики:</h4>
        </div>
        <p align="center">
            <a href="assets/policies/privacy_policy_ru.md" download>Политика конфиденциальности </a>
            <br>
            <a href="assets/policies/privacy_policy_eng.md" download>Privacy Policy </a>

        </p>

    </div>
</div>