  <div class="row text-roz2">
    <div class="col-md-12 ">
      <h3 align="center">Проект:</h3>
      <h5>
        Наша история часто не щадит культурное наследие, создаваемое столетиями. Города падали и вновь поднимались,
        что-то утрачивая, что-то обретая. Возродиться в камне вновь- удел далеко не каждого строения, шанс на новую
        жизнь невелик. Наша задача не дать пропасть памяти прошлого и дать ей вторую жизнь в новом воплощении. С помощью
        современных технологий визуализации объектов мы восстанавливаем и переносим в дополненную реальность облик
        старых городов. Вне зависимости где вы находитесь вы можете посетить места где мы возрождаем для вас утраченную
        архитектуру. Посетите места событий и рассмотрите их в режиме реального времени. Приложение позволяет отобразить
        виртуальный объект при посещении места его нахождения в его натуральную величину. Так же можно рассмотреть
        уменьшенную копию объекта на любой поверхности при касании его иконки на карте..
      </h5>

      <h3 align="center">Команда:</h3>
      <h5>
        Руководители:
        <br>
        Гурьев А.И.,
        <br>
        Тетеркин В.А.
        <br>
        Дизайнеры:
        Брисюк.К.А.,
        Патапова К.В.
        <br>
        Разработчики:
        Струль А.А.,
        Зыль В.,
        Lesha V.H.,
        Большая рыжая обезьяна,
        Alinastorm
      </h5>
      <h3 align="center">Канал telegram:</h3>
      <h5>
        <a href="https://t.me/ChronosphereAR">https://t.me/ChronosphereAR</a>
      </h5>
      <h3 align="center">Группа telegram:</h3>
      <h5>
        <a href="https://t.me/Chronosphere_public">https://t.me/Chronosphere_public</a>
      </h5>
      <h3 align="center">Связаться:</h3>
      <h5>
        Гурьев А.И. <a href="https://t.me/AlexandrGuriev">telegram</a>
      </h5>
    </div>
  </div>
